<!DOCTYPE html>
<html lang="en">
	<head>
	  <meta charset="UTF-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <title>Notable</title>
	  <link rel="stylesheet" href="/styles/main.css">
	</head>

	<body>
		<%- include('partials/header.ejs'); -%>

		<div>
			<img src="https://covers.openlibrary.org/b/isbn/<%= book.isbn %>-L.jpg" />
			<form method="post" action="/edit/<%= book.id %>">
				<button style="background: green" name="action" value="edit">Edit</button>
			</form>
			<h2><%= book.title %></h2>
			<h3><%= book.author %></h3>

			<p>ISBN: <%= book.isbn %>
			<p>Date read: <%= new Date(book.date_read).toISOString().slice(0, 10) %></p>
			<p>Rating: <%= book.rating %></p>

			<p><%= book.short_description %></p>
			<h4>Notes</h4>
			<p><%= book.notes %></p>
		</div>

		<%- include('partials/footer.ejs'); -%>

	</body>
</html>