<!DOCTYPE html>
<html lang="en">
	<head>
	  <meta charset="UTF-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <title>Notable</title>
	  <link rel="stylesheet" href="/styles/main.css">
	</head>

	<body>
	<%- include('partials/header.ejs'); -%>

	<form action="/order" method="post">
	<p>Order by: 
		<input type="submit" name="order" value="title" id="title">, 
		<input type="submit" name="order" value="recent" id="recent">, 
		<input type="submit" name="order" value="rating" id="rating">
	</p>
	</form>
	<% for(let book of books){ %>
		<div>
			<img src="https://covers.openlibrary.org/b/isbn/<%= book.isbn %>-S.jpg" />
			<a href="/book/<%= book.id %>"><h2><%= book.title %> by <%= book.author %></h2></a>
			<p>Date read: <%= book.date_read.toLocaleString('default', { day: 'numeric', month: 'short', year: 'numeric' }) %></p>
			<p>Rating: <%= book.rating %></p>
			<p><%= book.short_description %></p>
		</div>
	<% } %>

	<% include('partials/footer.ejs'); -%>

	</body>
</html>